@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

// #F95700FF) and White (#FFFFFFFF
// #FC766AFF), Spiced Apple (#783937FF) and Peach (#F1AC88FF
// #708090	(112,128,144)
// #536878	(83,104,120)
// #36454f
$add:#979797; 
$leftmost: #525252;
$midcolor:#AEAEAE;
$rightmost:#696969;
$light-blue: #73A5C6;
$light: #FFFFFFFF;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $add;
$link: $rightmost;
// $green: #0bf387;
$green:#696969;
// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: #f3f5fa;




/* GLOBALY STYLES*/

html, body {
    height: 100%;
    //set default font size to 18px
    font-size: 18px !important;
    overflow: hidden !important;
}