<div #container class="note-card-container">
    
    <div class="note-card-content">
        <h1 class="note-card-title">{{ title }} <!-- hello world --></h1>
        <div #bodyText class="note-card-body">
            <p>
                 {{ body }} 
                <!-- hfgrrkjcfkrjcflkej hfgrrkjcfkrjcflkej hfgrrkjcfkrjcflkej  hfgrrkjcfkrjcflkej hfgrrkjcfkrjcflkej hfgrrkjcfkrjcflkej     -->

            </p>
            <div #truncator class="fade-out-truncation"></div>

        </div>
        <div #data></div>
    </div>
    <div class="x-button"></div>
</div>

