<div #container class="note-card-container">
    
    <div class="note-card-content">
        <h1 class="note-card-title">Lorem ipsum</h1>

        <div class="note-card-body">
            <p>*Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, vero. Eum quasi incidunt laborum vero harum perspiciatis nisi, explicabo sit ad quos magnam repudiandae ullam velit, temporibus sequi voluptas. Perspiciatis.</p>
            <div class="fade-out-truncation"></div>

        </div>
    </div>
    <div class="x-button"></div>
</div>

