
<div class="main-container">
    
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <!-- <span class="iconify" data-icon="octicon:lock-16" data-inline="false"></span> -->
              <input class="input" type="text" (keyup)="filter($any($event.target).value)" placeholder="Filter"> <!--change from google-->
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span> 
              <!-- <span class="iconify" data-icon="octicon:lock-16" data-inline="false"></span> -->
            </p>
          </div>
    </div>
    <div class="notes-list" [@listAnim]>
      <!-- <app-note-card></app-note-card> -->
      <!-- <app-note-card title="title" body="body"></app-note-card>  -->
       <app-note-card 
       *ngFor="let note of filteredNotes; index as i" 
       [routerLink]="[i]"
       [@itemAnim]
       (delete)="deleteNote(i)"
        [title]="note.title" 
       [body]="note.body"
     
       ></app-note-card> 
       
      
    </div>
    <button class="button floating-add-button is-primary" routerLink="new" >+ Add</button>
</div>